@font-face {
  font-family: 'HEINEKEN Curve';
  src: url('/fonts/HEINEKENCurve-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HEINEKEN Curve';
  src: url('/fonts/HEINEKENCurve-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HEINEKEN Curve';
  src: url('/fonts/HEINEKENCurve-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HEINEKEN Curve';
  src: url('/fonts/HEINEKENCurve-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HEINEKEN Curve';
  src: url('/fonts/HEINEKENCurve-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HEINEKEN Curve';
  src: url('/fonts/HEINEKENCurve-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
